# HTID:14170949: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:14170949:

ErrorDocument 404 /errors/404.php
# ErrorDocument 401 "Désolé, notre script s'est crashé ; comme c'est dommage !"

Options +FollowSymlinks -MultiViews
RewriteEngine on
RewriteRule ^([a-z-A-Z-_-]+)$ /$1.php  [L]