.gametab{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
}

.multibutton{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.chgmtT {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    border: 1px solid #2d2d97;
    background-color: #2d2d97;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    padding: 8px 24px;
    font-weight: lighter;
    text-decoration: none;
}

.chgmtM {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    border: 1px solid #2d2d97;
    background-color: #2d2d97;
    padding: 8px 24px;
    font-weight: lighter;
    text-decoration: none;
}

.chgmtB {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    border: 1px solid #2d2d97;
    background-color: #2d2d97;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    padding: 8px 24px;
    font-weight: lighter;
    text-decoration: none;
}

.tab{
    display: flex;
}

.cache{
    display: flex;
    opacity: 1;
    border-radius: 20px;
    width: 200px;
    height: 150px;
    margin: 5px;
    background-color:#2d2d97;
}
