.scorassemble{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.multibutton{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 75px;
}

.chgmtT {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    border: 1px solid #2d2d97;
    background-color: #2d2d97;
    padding: 8px 24px;
    border-top-left-radius: 20px;
    font-weight: lighter;
    text-decoration: none;
}

.chgmtM {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    border: 1px solid #2d2d97;
    background-color: #2d2d97;
    padding: 8px 24px;
    font-weight: lighter;
    text-decoration: none;
}

.chgmtB {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    border: 1px solid #2d2d97;
    background-color: #2d2d97;
    padding: 8px 24px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 100px;
    font-weight: lighter;
    text-decoration: none;
}

.scoretab{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.table{
    background-color: #2d2d97;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 100px;
}

.table td{
    width: 300px;
    text-align: center;
    padding: 5px;
}

thead, tfoot {
    color: #fff;
}